body {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


h1 {
  text-align: center;
  color: aqua;
  font-size: 2em;
}

.containerMain {
  display: flex;
  justify-content: center;
  border: 1em solid rgb(77, 255, 0);
  width: 72em;
  height: 32em;
}

/*JoyCon left*/

.joyConLeft{
  border: 1em solid rgba(0, 238, 255, 0);
  width: 15em;
  height: 30em;
}


.boxSelect{
  display: flex;
  align-items: flex-end; 
  justify-content: flex-end;
  border: 1em solid rgb(206, 147, 210, 0);
  width: 11em;
  height: 3em;
}
.select{
  width: 2em;
  height: 0.7em;
  border-radius: 1em;
  background-color: black;
}

.boxJoystickLeft{
  border: 1em solid rgb(206, 147, 210, 0);
  width: 11em;
  height: 4em;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.joystickLeft{
  width: 4em;
  height: 4em;
  border-radius: 4em;
  background-color: black;
}

.boxDirectionTop{
  border: 1em solid rgb(206, 147, 210, 0);
  width: 11em;
  height: 2em;
  display: flex;
  align-items:center; 
  justify-content: center;
}

.top{
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.5em;
  background-color: black;
}

.boxDirectionMiddle{
  border: 1em solid rgb(206, 147, 210, 0);
  width: 11em;
  height: 2em;
  display: flex;
  align-items:center; 
  justify-content:space-around;
}

.left{
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.5em;
  background-color: black;
}

.right{
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.5em;
  background-color: black;
}
.boxDirectionDown{
  border: 1em solid rgb(206, 147, 210, 0);
  width: 11em;
  height: 2em;
  display: flex;
  align-items:center; 
  justify-content:center;
}

.down{
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.5em;
  background-color: rgb(0, 0, 0);
}

.boxPhoto{
  border: 1em solid rgb(206, 147, 210, 0);
  width: 11em;
  height: 5em;
  display: flex;
  align-items:start; 
  justify-content:end;
}

.photo{
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.2em;
  background-color: black;
  margin-right: 2em;

}



/*Pantalla*/

.mounting{
  border: 1em solid rgb(0, 238, 255);
  width: 40em;
  height: 30em;

}

.boxScreen{
  border: 1em solid rgb(206, 147, 210, 0);
  width: 38em;
  height: 28em;

}

.oled{
  border: 1em solid rgb(104, 17, 110);
  width: 36em;
  height: 26em;

}





/*JoyCon right*/

.joyConRight{
  border: 1em solid rgb(0, 238, 255, 0);
  width: 15em;
  height: 30em;

}



.boxStart{
  border: 1em solid rgb(206, 147, 210,0);
  width: 11em;
  height: 3em;

  display: flex;
  align-items: end; 
  justify-content: start;
}

.x-axis{
  position: absolute;
  margin-left: 0.6em;
  width: 0.7em;
  height: 2em;
  border-radius: 1em;
  background-color: black;
}
.y-axis{
  margin-bottom: 0.6em;
  width: 2em;
  height: 0.7em;
  border-radius: 1em;
  background-color: black;
}
.boxXABYTop{
  border: 1em solid rgb(206, 147, 210, 0);
  width: 11em;
  height: 2em;
  display: flex;
  align-items:center; 
  justify-content: center;
}

.X{
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.5em;
  background-color: black;
}
.boxXABYMiddle{
  border: 1em solid rgb(206, 147, 210, 0);
  width: 11em;
  height: 2em;
  display: flex;
  align-items:center; 
  justify-content:space-around;
}
.Y{
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.5em;
  background-color: black;
}
.A{
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.5em;
  background-color: black;
}
.boxXABYDown{
  border: 1em solid rgb(206, 147, 210, 0);
  width: 11em;
  height: 2em;
  display: flex;
  align-items:center; 
  justify-content: center;
}
.B{
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.5em;
  background-color: black;
}

.boxJoystickRight{
  border: 1em solid rgb(206, 147, 210, 0);
  width: 11em;
  height: 4em;
  display: flex;
  align-items:center; 
  justify-content: center;
}

.joystickRight{
  width: 4em;
  height: 4em;
  border-radius: 4em;
  background-color: black;
}


.boxHome{
  border: 1em solid rgb(206, 147, 210, 0);
  width: 11em;
  height: 5em;

  display: flex;
  align-items:start; 
  justify-content:start;

}

.home{
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.5em;
  background-color: black;
  margin-left: 2em;
}