body {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  margin: 0;
  padding: 0;
}


h1 {
  text-align: center;
  color: aqua;
  font-size: 2em;
}

.containerMain {
  margin: 0;
  padding: 0;
  display: flex;
  /*background-image: url('img-readme/neon.png');
  background-position: center;
  background-size:cover;       */
  justify-content:space-between;
  width:60em;
  height: 25em;
}



/*JoyCon left*/

.joyConLeft{
  position: relative;
  width: 8.1em;
  height: 24em;


  
}


.boxSelect{
  background-color: rgb(22, 194, 237);
  align-items: center; 
  justify-content: flex-end;
  width: 8.1em;
  height: 6em;
  border-radius: 6em 0em 0em 0em ;
  
}
.select{
  position: absolute;
  width: 1.3em;
  height: 0.4em;
  border-radius: 0.1em;
  background-color: rgba(0, 0, 0, 0.557);
  left: 6.3em;
  top: 2.3em;
}

.boxJoystickLeft{
  background-color: rgb(22, 194, 237);
  width: 8.1em;
  height: 4.4em;
  display: flex;
  align-items:flex-start; 
  justify-content: center;
}

.joystickLeft{
  position: absolute;
  top: 4.5em;
  left: 2.6em;
  width: 3.8em;
  height: 3.8em;
  border-radius: 4em;
  background-color: rgb(55, 40, 40);
}

.boxDirectionTop{
  background-color: rgb(22, 194, 237);
  width: 8.1em;
  height: 2em;
  display: flex;
  align-items:center; 
  justify-content: center;
}

.top{
  width: 1.8em;
  height: 1.8em;
  border-radius: 1.8em;
  margin-left: 0.7em;
  background-color: black;
}

.boxDirectionMiddle{
  background-color: rgb(22, 194, 237);
  width: 8.1em;
  height: 1.8em;
  display: flex;
  align-items:center; 
  justify-content:space-around;
}

.left{
  width: 1.8em;
  height: 1.8em;
  border-radius: 1.8em;
  margin-left: 0.7em;
  background-color: black;
}

.right{
  width: 1.8em;
  height: 1.8em;
  border-radius: 1.8em;
  margin-left: 0.7em;
  background-color: black;
}
.boxDirectionDown{
  background-color: rgb(22, 194, 237);
  width: 8.1em;
  height: 1.8em;
  display: flex;
  align-items:center; 
  justify-content:space-around;
}

.down{
  width: 1.8em;
  height: 1.8em;
  border-radius: 1.8em;
  margin-left: 0.7em;
  background-color: black;
}

.boxWhiteLeft{
  background-color: rgb(22, 194, 237);
  width: 8.1em;
  height: 3.2em;
  display: flex;
  align-items:start; 
  justify-content:end;
}

.boxPhoto{
  background-color: rgb(22, 194, 237);
  border-radius: 0em 0em 0em 6em;
  width: 8.1em;
  height: 5.8em;
  display: flex;
  align-items:start; 
  justify-content:end;
}

.photo{
  position: absolute;
  bottom: 5.2em;
  left: 5.1em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.2em;
  background-color: black;
  margin-right: 2em;

}








/*Pantalla*/


.mounting{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
  background-color: rgb(255, 255, 255);

  width: 44em;
  height: 25em;

}

.rielRight, .rielLeft{
  background-color: rgba(0, 0, 0, 0.779);
  padding: 0;
  margin: 0;
  border: 0.2em solid rgb(0, 0, 0);
  width: 0.3em;
  height: 24em;
  position: relative;

}



.boxScreen{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5em solid rgb(27, 25, 25);
  background-color: black;
  width: 43em;
  height:24em;

}

.oled{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.6 solid rgb(104, 17, 110);
  width: 10em;
  height:18.7em;

}









/*JoyCon right*/


.joyConRight{
  position: relative;
  width: 8.1em;
  height: 24em;
}


.boxStart{
  background-color: rgb(254, 94, 69);
  display: flex;
  align-items: end; 
  justify-content: center;

  width: 8.1em;
  height: 6em;
  border-radius: 0em 6em 0em 0em ;
  
}
.x-axis{
  position: absolute;
  width: 1.3em;
  height: 0.4em;
  border-radius: 0.1em;
  background-color: rgba(0, 0, 0, 0.557);
  left: 0.4em;
  top: 2.3em;
}
.y-axis{
  position: absolute;
  width: 0.4em;
  height: 1.3em;
  border-radius: 0.1em;
  background-color: rgba(0, 0, 0, 0.557);
  left: 0.9em;
  top: 1.9em;
}





.X{
  width: 1.8em;
  height: 1.8em;
  border-radius: 1.8em;
  margin-right: 0.8em;
  background-color: black;
  margin-bottom: 0.6em;
}

.boxXABYMiddle{
  position: relative;
  background-color: rgb(254, 94, 69);
  width: 8.1em;
  height: 3.8em;
  display: flex;
  align-items:start; 
  justify-content:space-around;

}

.Y{
  position: absolute;
  width: 1.8em;
  height: 1.8em;
  border-radius: 1.8em;
  margin-left: 0.7em;
  background-color: black;
  left: 0.1em;
  bottom: 2.6em;

}

.A{
  position: absolute;
  width: 1.8em;
  height: 1.8em;
  border-radius: 1.8em;
  margin-left: 0.7em;
  background-color: black;
  right: 1.7em;
  bottom: 2.6em;

}
.boxXABYDown{
  position: relative;
  background-color: rgb(254, 94, 69);
  width: 8.1em;
  height: 1.8em;
  display: flex;
  justify-content:center;
}

.B{
  position: absolute;
  width: 1.8em;
  height: 1.8em;
  border-radius: 1.8em;
  background-color: black;
  bottom: 2.5em;
  margin-right: 0.8em;
}

.boxJoystickRight{
  background-color: rgb(254, 94, 69);
  width: 8.1em;
  height: 4.4em;
  display: flex;
  align-items:flex-start; 
  justify-content: center;
}

.joystickRight{
  margin-right: 0.7em;
  width: 3.8em;
  height: 3.8em;
  border-radius: 4em;
  background-color: rgb(55, 40, 40);
}


.boxHome{

  background-color: rgb(254, 94, 69);

  width: 8.1em;
  height: 3.2em;
  display: flex;
  align-items:center; 
  justify-content:start;
}

.home{
  background-position: center;
  background-size:77%; 
  width: 1.9em;
  height: 1.9em;
  border-radius: 1.9em;
  background-color: rgb(50, 44, 44);
  margin-left: 1.3em;
  margin-top: 0.7em;
}


.boxWhiteRight{

  background-color: rgb(254, 94, 69);
  border-radius: 0em 0em 6em 0em;
  width: 8.1em;
  height: 5.8em;
  display: flex;
  align-items:start; 
  justify-content:start;
}