body {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


h1 {
  text-align: center;
  color: aqua;
  font-size: 2em;
}

.containerMain {
  display: flex;
  justify-content: center;
  border: 1em solid rgb(77, 255, 0);
  width: 72em;
  height: 32em;
}

/*JoyCon left*/

.joyConLeft{
  border: 1em solid rgb(0, 238, 255);
  width: 15em;
  height: 30em;
}


.boxSelect{
  border: 1em solid rgb(206, 147, 210);
  width: 11em;
  height: 3em;
}

.boxJoystickLeft{
  border: 1em solid rgb(206, 147, 210);
  width: 11em;
  height: 4em;
}

.boxDirectionTop{
  border: 1em solid rgb(206, 147, 210);
  width: 11em;
  height: 2em;
}
.boxDirectionMiddle{
  border: 1em solid rgb(206, 147, 210);
  width: 11em;
  height: 2em;
}
.boxDirectionDown{
  border: 1em solid rgb(206, 147, 210);
  width: 11em;
  height: 2em;
}

.boxPhoto{
  border: 1em solid rgb(206, 147, 210);
  width: 11em;
  height: 5em;

}

/*Pantalla*/

.mounting{
  border: 1em solid rgb(0, 238, 255);
  width: 40em;
  height: 30em;

}

.boxScreen{
  border: 1em solid rgb(206, 147, 210);
  width: 38em;
  height: 28em;

}

.oled{
  border: 1em solid rgb(104, 17, 110);
  width: 36em;
  height: 26em;

}





/*JoyCon right*/

.joyConRight{
  border: 1em solid rgb(0, 238, 255);
  width: 15em;
  height: 30em;

}

.boxStart{
  border: 1em solid rgb(206, 147, 210);
  width: 11em;
  height: 3em;
}

.boxXABYTop{
  border: 1em solid rgb(206, 147, 210);
  width: 11em;
  height: 2em;
}
.boxXABYMiddle{
  border: 1em solid rgb(206, 147, 210);
  width: 11em;
  height: 2em;
}
.boxXABYDown{
  border: 1em solid rgb(206, 147, 210);
  width: 11em;
  height: 2em;
}

.boxJoystickRight{
  border: 1em solid rgb(206, 147, 210);
  width: 11em;
  height: 4em;
}


.boxHome{
  border: 1em solid rgb(206, 147, 210);
  width: 11em;
  height: 5em;

}